ui/.idea/workspace.xml
ui/.idea/ui.iml
ui/.idea/php.xml
ui/.idea/modules.xml
api/api.iml
api/.idea/workspace.xml
api/.idea/modules.xml
api/.idea/misc.xml
ui/.idea/misc.xml
api/src/main/data/database.properties
api/out/*
api/src/main/META-INF/MANIFEST.MF
api/src/META-INF/MANIFEST.MF
api/.idea/inspectionProfiles/profiles_settings.xml
api/.idea/uiDesigner.xml
api/src/main/testkey.jks
api/.idea/artifacts/api_jar.xml
api/.idea/api.iml
api/.idea/vcs.xml
api/src/main/data/testkey.jks
api/src/main/handlers/auth.properties
ui/.idea/jsLibraryMappings.xml
ui/.idea/vcs.xml
OCR scripts/.idea/workspace.xml
OCR scripts/.idea/vcs.xml
OCR scripts/.idea/OCR scripts.iml
OCR scripts/.idea/modules.xml
OCR scripts/.idea/misc.xml
OCR scripts/.idea/encodings.xml
api/src/main/managers/server_storage.properties
OCR scripts/subject_code.xlsx
OCR scripts/final.json
OCR scripts/__pycache__/spacyparse.cpython-37.pyc
api/.idea/libraries/lib.xml
ui/smart_ocr/src/assets/script.png
ui/ui.iml
ui/src/edu/psu/ist/Main.java
ui/out/production/ui/edu/psu/ist/Main.class
ui/.idea/project-template.xml
ui/.idea/encodings.xml
ui/.idea/description.html
out/production/Admissions-Smart-OCR/tests/managers/GenericCourseManagerTest.class
out/production/Admissions-Smart-OCR/tests/managers/ExternalOrganizationManagerTest.class
out/production/Admissions-Smart-OCR/main/types/Transcript.class
out/production/Admissions-Smart-OCR/main/types/Submission.class
out/production/Admissions-Smart-OCR/main/types/LogType.class
out/production/Admissions-Smart-OCR/main/types/Log.class
out/production/Admissions-Smart-OCR/main/types/ILoggable.class
out/production/Admissions-Smart-OCR/main/types/GenericSubjectArea.class
out/production/Admissions-Smart-OCR/main/types/GenericCourse.class
out/production/Admissions-Smart-OCR/main/types/FieldVersion.class
out/production/Admissions-Smart-OCR/main/types/Field.class
out/production/Admissions-Smart-OCR/main/types/ExternalOrganization.class
out/production/Admissions-Smart-OCR/main/types/ErrorLog.class
out/production/Admissions-Smart-OCR/main/types/Applicant.class
out/production/Admissions-Smart-OCR/main/Server.class
out/production/Admissions-Smart-OCR/main/managers/TranscriptManager.class
out/production/Admissions-Smart-OCR/main/managers/TranscriptManager$2.class
out/production/Admissions-Smart-OCR/main/managers/TranscriptManager$2$2.class
out/production/Admissions-Smart-OCR/main/managers/TranscriptManager$2$1.class
out/production/Admissions-Smart-OCR/main/managers/TranscriptManager$1.class
out/production/Admissions-Smart-OCR/main/managers/SubmissionManager.class
out/production/Admissions-Smart-OCR/main/managers/OcrApiManager.class
out/production/Admissions-Smart-OCR/main/managers/LogManager.class
out/production/Admissions-Smart-OCR/main/managers/GenericCourseManager.class
out/production/Admissions-Smart-OCR/main/managers/ExternalOrganizationManager.class
out/production/Admissions-Smart-OCR/main/listeners/TranscriptQueueListener.class
out/production/Admissions-Smart-OCR/main/listeners/LogListener.class
out/production/Admissions-Smart-OCR/main/handlers/TranscriptPostHandler.class
out/production/Admissions-Smart-OCR/main/handlers/TokenRequestHandler.class
out/production/Admissions-Smart-OCR/main/handlers/SubmissionHandler.class
out/production/Admissions-Smart-OCR/main/handlers/HandlerPrototype.class
out/production/Admissions-Smart-OCR/main/handlers/GetTranscriptQueueHandler.class
out/production/Admissions-Smart-OCR/main/handlers/GetTranscriptQueueHandler$1.class
out/production/Admissions-Smart-OCR/main/handlers/GetSubmissionHandler.class
out/production/Admissions-Smart-OCR/main/handlers/GetQueuedTranscriptHandler.class
out/production/Admissions-Smart-OCR/main/handlers/FilePostHandler.class
out/production/Admissions-Smart-OCR/main/data/DatabaseInteraction.class
Admissions-Smart-OCR.iml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/lib.xml
**/.idea
**/.vscode