
ui/.idea/workspace.xml
ui/.idea/ui.iml
ui/.idea/php.xml
ui/.idea/modules.xml
api/api.iml
api/.idea/workspace.xml
api/.idea/modules.xml
api/.idea/misc.xml
ui/.idea/misc.xml
api/src/main/data/database.properties
api/out/*
api/src/main/META-INF/MANIFEST.MF
api/src/META-INF/MANIFEST.MF
api/.idea/inspectionProfiles/profiles_settings.xml
api/.idea/uiDesigner.xml
api/src/main/testkey.jks
api/.idea/artifacts/api_jar.xml
api/.idea/api.iml
api/.idea/vcs.xml
api/src/main/data/testkey.jks
api/src/main/handlers/auth.properties
ui/.idea/jsLibraryMappings.xml
ui/.idea/vcs.xml
OCR scripts/.idea/workspace.xml
OCR scripts/.idea/vcs.xml
OCR scripts/.idea/OCR scripts.iml
OCR scripts/.idea/modules.xml
OCR scripts/.idea/misc.xml
OCR scripts/.idea/encodings.xml
