[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "~=3.0.3"
boto3 = "*"
flask = "*"
pandas = "*"
fuzzywuzzy = "*"
xlrd = "*"
openpyxl = "*"
plac = "*"
tqdm = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.9"
